body{font-family: "Roboto", sans-serif; font-weight: 100; font-size: 16px;}
.logo{text-align: center; margin: 0 auto; padding: 300px 0 30px 0 ; }
.logo img{max-width: 400px; }
.slogan{font-size: 20px; text-transform: uppercase; font-weight: 100; color:#9DA2A5; padding-bottom: 300px; text-align: center; letter-spacing:1px;}

h2{ font-weight: 100; padding-bottom: 30px; text-align: center; letter-spacing: 1px; font-size: 40px;}
p{ font: 100 20px/35px  "Roboto", sans-serif; text-align: center;}
ul li{padding-bottom:5px;}

.possibilities { padding-top: 80px; padding-bottom: 80px; background-color: #F2440D; color:#fff; }
.possibilities .icon{ width:20%; float: left; text-align: center; color:#fff; font-size:20px; padding-top: 100px; margin-top: 30px;}
.possibilities .icon.invent{ background: url(../img/invent.png) top center no-repeat; background-size: 80px }
.possibilities .icon.adapt{ background: url(../img/adapt.png) top center no-repeat; background-size: 80px }
.possibilities .icon.appropiate{ background: url(../img/appropiate.png) top center no-repeat; background-size: 80px }
.possibilities .icon.learn{ background: url(../img/learn.png) top center no-repeat; background-size: 80px }
.possibilities .icon.interact{ background: url(../img/interact.png) top center no-repeat; background-size: 80px }

.tools{padding-top: 80px; padding-bottom: 80px; background-color: #FF680C; color:#fff;}
.tools ul li {list-style: none; position: relative; padding-left: 30px;}
.tools ul li span{ font-weight: 300; position: absolute; left: 0}

.community{padding-top: 80px; padding-bottom: 80px; background-color: #FFB845; color:#fff;}
.community .icon {width:20%; float: left; position: relative}
.community .icon a{background-color:#fff; border-radius: 50%; width:150px; height: 150px; padding: 45px; margin: 0 auto; display:block; transition: all .2s ease-in-out;}
.community .icon img{width:60px; transition: all .2s ease-in-out; }
.community .icon span{position:absolute; bottom:-40px; left:0; text-align: center; color:#3B454C; display: inline; left:0;right:0;margin-left:auto;margin-right:auto;}

.community .icon a:hover{padding: 40px; transition: all .2s ease-in-out;}
.community .icon a:hover img{width:70px; transition: all .2s ease-in-out;}

.carousel-inner{height: 400px; background-color: #fff; margin-bottom: 40px;}
.carousel-control.right,
.carousel-control.left {background: transparent}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{color:#333;}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{color:#333;}

footer{background-color:#3B454C; color:#fff; text-align: center; padding: 300px; margin: 0;}
footer .logo{padding-top: 0}
footer span{color:#FF680C;}